:root {
    --backgroundG: white;
    --backgroundA: #333;
    --colorG: black;
    --colorA: white;
    --hover: blueviolet;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: var(--backgroundG);
    font-family: Roboto, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--backgroundA);
    width: 100%;
    height: 75px;
}

.a-logo {
    color: var(--colorA);
    text-decoration: none;
}

#menu-escritorio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.a-escritorio {
    color: var(--colorA);
    text-decoration: none;
    transition: color .3S ease;
}

.a-escritorio:hover {
    color: var(--hover);
}

#abrir {
    display: none;
    width: 30px;
    height: 30px;
}

.img-abrir {
    width: 100%;
    height: 100%;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.img-cerrar {
    width: 100%;
    height: 100%;
}

#nav-celular {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -999;
    display: none;
    justify-content: center;
    align-items: center;
}

#menu-celular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background: var(--backgroundA);
    list-style: none;
    width: 50vw;
    height: 100vh;
}

.a-celular {
    color: var(--colorA);
    text-decoration: none;
    transition: color .3s ease;
}

.a-celular:hover {
    color: var(--hover);
}

#articulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.div-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 150px 0 50px 0;
}

.h2-hr {
    font-family: monospace, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hr {
    width: 100%;
    height: 1px;
}

#seccion-articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.articulos-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px -3px var(--colorG);
    transition: transform .3s ease;
}

.articulos-seccion:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.img-articulos {
    width: 100%;
    height: 50%;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--backgroundA);
    height: 100px;
    margin: 50px 0 0 0;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.copy {
    color: var(--colorA);
}

.a-footer {
    color: var(--colorA);
    text-decoration: none;
    transition: color .3s ease;
}

.a-footer:hover {
    color: var(--hover);
}

/* !Media Query */
/* *Computadora */
@media (min-width:2000px) {
    .a-escritorio {
        font-size: 20px;
    }

    .h2-hr {
        font-size: 30px;
    }

    .a-footer {
        font-size: 20px;
    }
}

/* *Tablet */
@media (max-width:768px) {
    #header {
        justify-content: space-between;
    }

    #nav-escritorio {
        display: none;
    }

    .div-logo {
        padding: 0 0 0 10px;
    }

    #abrir {
        display: flex;
        padding: 0 10px 0 0;
    }

    #seccion-articulos {
        grid-template-columns: repeat(1, 1fr);
    }
}